<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--
      For testing purposes, please use Populate-TestStorage.ps1 script in order to populate
      test storage directory with files having specific "Date modified" attribute.
    -->
    <add key="CleanupDirectoryPath" value="D:\Test Storage (DON'T FORGET TO REMOVE ME!)"/>

    <!--
      RetentionRules syntax:
        d:a [d:a [d:a ...]]
        where
          d is integer and means "older than N days",
          a is integer and means "allowed amount",
          and no matter how many spaces are places between rules
        Examples:
          7:0
          14:20
          1:100 2:50 3:10 4:2
          3:55 5:42 7:20 28:5 100:1 365:0
          1:100 2:99  8:50 9:49    100:10 200:8  800:4 900:2
    -->
    <add key="RetentionRules" value="1:8 10:5 14:5 21:1"/>

    <!--
      The name of the log4net configuration file.
    -->
    <add key="LogConfigFileName" value="log4net.config"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
