<log4net>

  <appender name="FullLog" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Cleanup.log"/>
    <encoding value="utf-8"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="100KB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy.MM.dd HH:mm:ss.ffff} [%t] %-5p (%c) - %m%n"/>
    </layout>
  </appender>

  <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Cleanup.error.log"/>
    <encoding value="utf-8"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="100KB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy.MM.dd HH:mm:ss.ffff} [%t] %-5p (%c) - %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="FullLog"/>
    <appender-ref ref="ErrorLog"/>
  </root>

</log4net>
